<h2>Knowledge Base Files Upload</h2>

<div class="file-input-wrapper">
  <label class="custom-file-btn">
    <mat-icon class="file-icon">attach_file</mat-icon>
    Choose Files
    <input type="file" (change)="onFileSelected($event)" multiple accept=".txt"
    />
  </label>
</div>

@if (files.length === 0) {
  <p class="no-files-p">No files uploaded yet</p>
} @else {
  <ul>
    @for (file of files; track $index) {
      <li>
        {{ file }}
        <button type="button" (click)="removeFile($index)">
          <mat-icon>delete</mat-icon>
        </button>
      </li>
    }
  </ul>
}
